/* Estilos padrão para a navegação */
.cabecalho-menu {
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.cabecalho-menu-item {
  margin-right: 20px;
  text-decoration: none;
  color: #391BB0;
}

/* Estilos para a navegação responsiva em dispositivos pequenos */
@media screen and (max-width: 768px) {
  .cabecalho-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .cabecalho-menu-item {
    margin: 10px 0;
  }
}

/* Estilos para o cabeçalho */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: #fff;
}

.cabecalho-imagem {
  height: 70px;
}

.titulo-conteudo {
  font-size: 24px;
}

/* Estilos para o conteúdo principal */
.conteudo {
  padding: 20px;
}

.conteudo-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteudo-principal-escrito {
  margin: 20px;
  display: flex;
  align-items: center;
}

.button-principal {
  padding: 20px 100px;
  background-color: #391BB0;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px
}
.titulo-conteudo-segundario{
  color:rgb(9, 9, 9);
  font-size: 15px;
}

.conteudo-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
}

.conteudo-mapa iframe {
  width: 80%; /* Defina a largura do mapa conforme necessário */
  height: auto; /* A altura será ajustada automaticamente para manter a proporção */
  max-width: 600px; /* Defina um valor máximo para a largura do mapa, se desejar */

}


/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Estilos para a classe immagem-button */
.immagem-button {
	width: 50px; /* Defina a largura desejada */
	height: 50px; /* Defina a altura desejada */
	margin-right: 10px; /* Ajuste a margem direita conforme necessário */
  }
